# API Backend
NEXT_PUBLIC_API_URL="http://localhost:3000"

# Privy (https://dashboard.privy.io)
NEXT_PUBLIC_PRIVY_APP_ID=""

# Avalanche
NEXT_PUBLIC_AVALANCHE_RPC_URL="https://api.avax-test.network/ext/bc/C/rpc"
NEXT_PUBLIC_DOCUMENT_REGISTRY_ADDRESS=""
